@charset "UTF-8";

/*
        aqui vai para a maioria dos celulares
                    375 x 667 
*/

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: blue;
    color: white;
}

.image {
    margin-left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.image2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

#center {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.7em;
    margin: 10px;
    padding: 10px;
}

h2 {
    font-size:1.2em ;
    margin: 10px;
    padding: 10px;
}

#form {
    background-image: url(agua2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    width: 240px;
    height: 200px;
    border-radius: 10px;
}

.lsize {
    font-size: 1.3em;
    color: black;
    text-shadow: 2px 2px 2px solid balck;
    font-weight: bolder;
}

.inp {
    font-size: 1.5em;
    margin: 10px;
    width: 100px;
    height: 30px;
}

#yers {
}

#botao {
    margin: 10px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
}

#botao:hover {
    background-color: blue;
    color: white;
}

#res {
    
    border-radius: 12px;
    
}

p {
    text-align: justify;
    font-size: 1.1em;
    padding: 10px;
    margin: 10px;
}

h3,h4 {
    text-align: center;
    margin: 10px;
}

.aqui {
    color: black;
}

aside {
    margin-bottom: 60px;
    text-align: center;
}

#tabbr {
    margin-left: 20px;
    width: 300px;
    height: 200px;
}

.tab {
    margin: auto;
    width: 335px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.3em;
    }

    #tabbr {
        padding: 20px;
    }

    .tab {
        width: 500px;
    }
}

